################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

[obj]*

/2 - Linked Lists/2-1/.vs/2-1/DesignTimeBuild
/2 - Linked Lists/2-1/.vs/2-1/v16
/2 - Linked Lists/2-1/2-1/bin/Debug/net5.0
/2 - Linked Lists/2-1/2-1/obj
/2 - Linked Lists/2-1/2-2/bin/Debug/net5.0
/2 - Linked Lists/2-1/2-2/obj
/2 - Linked Lists/LinkedList/.vs/LinkedList
/.vs
/2 - Linked Lists/LinkedList/.vs/ProjectEvaluation
/3 - Stacks and Queues/StacksQueues/.vs/ProjectEvaluation
/3 - Stacks and Queues/StacksQueues/.vs/StacksQueues/DesignTimeBuild
/3 - Stacks and Queues/StacksQueues/.vs/StacksQueues/FileContentIndex
/3 - Stacks and Queues/StacksQueues/.vs/StacksQueues/v17/.suo
/3 - Stacks and Queues/StacksQueues/.vs/StacksQueues/v17/.futdcache.v2
/3 - Stacks and Queues/StacksQueues/.vs/StacksQueues/v17/.futdcache.v1
/4 - Trees and Graphs/4/.vs/4/DesignTimeBuild
/4 - Trees and Graphs/4/.vs/4/FileContentIndex
/4 - Trees and Graphs/4/.vs/4/v17
/4 - Trees and Graphs/4/.vs/ProjectEvaluation
/5 - Bits/5/5/.vs/5/DesignTimeBuild
/5 - Bits/5/5/.vs/5/FileContentIndex
/5 - Bits/5/5/.vs/5/v17
/5 - Bits/5/5/.vs/ProjectEvaluation
